body{
    font-family: Arial, Helvetica, sans-serif;
}
.tablero,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}
.cabecera{
    text-align: center;
}

h2{
    color: red;
}
