* {margin: 0px; padding: 0px;font-family: Arial, Helvetica, sans-serif;} /* margin es el margen exterior. padding, margen interior */
.contendor{
    height: 100vh;
    width: 100vw;
    
}

/*===============*/
.encabezado{
    width: 100vw;
    height: 25vh;
}

#titulo{
    padding-left: 43%;
    color: white;
    text-shadow: 0.1em 0.1em 0.05em rgb(107, 107, 107);
}
/*===============*/
.listado_peliculas{
    
    width: 100vw;
    height: 75vh;
}
.categoria{
    float: left;
    width: 50vw;
    height: 100vh;
    text-align: center;
}
.titulo{
    margin-top: 5px;
    -webkit-text-stroke: 1px red;
    color: white;
    text-shadow: 0.1em 0.1em 0.05em rgb(107, 107, 107);
}
.img{
    height: 50%;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
}
#terror{
    height: 100%;
}

/*===============*/
