* {margin: 0px; padding: 0px;font-family: Arial, Helvetica, sans-serif;}

.cabecera{
    width: 100vw;
    height: 25vh;
}

#logo{float: left;
    padding-left: 2%;}

#titulo{float: left; 
    padding-left: 25%;
    padding-top: 5%;}

.contenido{
    height: 75vh;
    width: 100%;
}

.portada{
    width: 40%;
    height: 100%;
    float: left;
}
#portada{width: 45%; 
    height: 70%;border: 
    5px solid blue; border-radius: 
    10px; margin-top: 10%; 
    margin-left: 10%;}

.datos{
    width: 60%;
    height: 100%; 
    float: left;
    padding-top: 2.3%;
    text-align: center;
}

