* {margin: 0px; padding: 0px;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-color: rgb(23, 173, 161);
    height: 25%;
}
.segunda_caja{
    background-color: red;
    height: 50%;
}
.tercera_caja{
    background-color: yellow;
    height: 25%;
}
.primera_columna{
    float:left;
    height: 100%;
    width:25%;
    background-color: green;
    color: white;

}
.segunda_columna{
    float:left;
    height: 100%;
    width:75%;
    background-color: grey;
    color: white;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
}

.listado_peliculas{
    float: left;
    width: 100%;
    height: 100%;
}

.peliculas{
    background-color: white;
    border-radius: 6px;
    margin: 4px;
    color: black;
    text-align: right;
}

.imagen{
    height: 100%;
    width: 27%;
    border: 1px solid red;
    float: left;
}

.titulo{
    float: left;
    height: 100%;
    background-color: blue;

}

.enlace{
    float: right;
    height: 100%;
    width: 12%;
}
img{
    height: 100%;
    width: 100%;

}