* {margin: 0px; padding: 0px;font-family: Arial, Helvetica, sans-serif;}

body{
    background-color: orange;
    padding-top: 1%;
}

.pagina{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 1%;
}